[2018-03-31 21:32] ajay2507 opened #2 "Adding Test for all methods."
Test all the methods using Mocha.
Test http request using nock.
All test files should come under test folder.

To work with this project, get client id and client secret from eBay developers program.

Test running command

`npm run test`

[2018-05-24 13:49] realnsleo opened #4 "UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'length' of undefined"
Awesome module. However, I am getting an error when I try using the searchItems function:

[code]
The api reports an error in `ebay-node-api\src\buy-api.js:52:34`. I see the issue has something to do with `searchConfig.fieldgroups.length` variable not being seen. Am I missing something here?

Thanks!

[2018-05-24 16:55] ajay2507 commented on #4
@realnsleo Thanks for pointing out this. Let me dig into this.

[2018-05-30 18:13] ajay2507 commented on #4
Fixed in version 2.2.1 https://github.com/ajay2507/ebay-node-api/releases/tag/v2.2.1

[2018-05-30 18:13] #4 closed

[2018-06-03 06:52] ajay2507 opened #6 "Integerate with Order API"
New Feature
1. Integerate with ebay Order API.
2. To get Order details, post order, etc.

[2018-06-03 06:56] ajay2507 opened #7 "New Feature : Offers API"
Integrate with eBay Offers API.
To get daily deals and offers in eBay.

[2018-06-30 07:23] chinhai077 opened #8 "Module `https` does not exist in the Haste module map"
I'm using this package in a react native project. With importing I'm using ES6 syntax

[2018-07-01 20:08] ajay2507 commented on #8
Hey @chinhai077,  I think this issue is with React Native
https://stackoverflow.com/questions/49835125/module-expo-does-not-exist-in-the-haste-module-map
Can you try upgrading the react native?. once do clean and install it again.
I can see the open issue in React Native
https://github.com/facebook/react-native/issues/19019

If you are still facing the issue, can you send me your repo link so that

[2018-07-10 05:53] ajay2507 opened #9 "Integrate eBay shopping API."
# Feature Request

Integerate eBay shopping API.

## Context

Implement shopping api methods
https://developer.ebay.com/devzone/shopping/docs/concepts/shoppingapi_formatoverview.html

[2018-08-03 15:53] sm-a opened #10 "New Feature : Please provide an Example to list an item"
You have an excellent API with also excellent examples. Please provide also an example of how to use a "post request" to "list an item".

Since I have no idea how this works and others will certainly be happy about an example.

Thank you,
Sven

[2018-08-12 06:21] ajay2507 opened #11 "New Feature : Integerate Taxonomy API"
Reference : https://developer.ebay.com/api-docs/commerce/taxonomy/overview.html

[2018-08-12 06:28] Greensahil opened #12 "How to sell items in the ebay store?"
Is there a way to sell items on the ebay store using this api? Instead of just fetching the items?

[2018-08-12 19:05] ajay2507 commented on #12
@Greensahil  Currently this project doesn't support sell API. Planning to integrate sell api in upcoming days. If you are interested, Free feel to contribute.

[2018-08-12 19:48] #11 closed

[2018-09-08 22:33] ajay2507 opened #16 "New Feature : eBay Marketing API."
https://developer.ebay.com/api-docs/buy/marketing/resources/merchandised_product/methods/getAlsoViewedByProduct

[2018-09-20 12:04] bhushankumarl commented on #12
@Greensahil
Try this npm module, it does support the same.
https://www.npmjs.com/package/ebay-node-client

[2018-09-20 12:05] bhushankumarl commented on #10
@sm-a
Try this npm module, it does have an example available to POST Items and List Items.
https://www.npmjs.com/package/ebay-node-client

[2018-11-02 20:51] pjobson opened #18 "Suppress Console Logs"
There is no good reason for when instantiating a new constructor for it to spit out a console log of the instantiated parameters.

	let ebay = new eBayNodeApi({
		clientID: eBayApiAuth.AppID,
		clientSecret: eBayApiAuth.CertID,
		body: {
			grant_type: "client_credentials"
		}
	});

Always console.logs:

    { clientID: '___my_client_id___',
      clientSecret: '___my_client_secret___',
      body

[2018-11-03 08:08] ajay2507 commented on #18
@pjobson I agree with your comment. I prefer console.logs to check output. May be we can integerate with `eslint no console` so that we can suppress console.logs throughout the project. If you have any other idea let me know

[2018-11-03 08:46] pjobson commented on #18
Just remove the instances of `console.log` and have it return the object, so the end-user can do whatever s/he wants with it.  There's no reason to have `console` anything within this kind of module.  Errors should be returned to the user using the `Error` object and successes should be returned as whatever type they are.

[2018-11-04 04:52] ajay2507 commented on #18
@pjobson  okay cool sounds good. You can create PR if you want.

[2018-11-05 19:13] pjobson commented on #18
You're already returning the `body` in request.js, though you do really need some error handling ability.

I'm going to give you some tips instead of doing a pull request.

* Formatting.  You're switching your formatting up a lot, it looks like copy/paste code.
  * Line 36 of request.js: var use instead of let/const.
  * Line 49 of request.js: No semi colon at end of line, every other end uses a s

[2018-11-05 19:56] pjobson commented on #18
jshint basic run-down.

	buildURL.js: line 6, col 1, 'const' is available in ES6 (use 'esversion: 6') or Mozilla JS extensions (use moz).
	buildURL.js: line 15, col 5, 'concise methods' is available in ES6 (use 'esversion: 6') or Mozilla JS extensions (use moz).
	buildURL.js: line 16, col 9, 'let' is available in ES6 (use 'esversion: 6') or Mozilla JS extensions (use moz).
	buildURL.js: line 34, c

[2018-11-09 00:46] ajay2507 commented on #18
@pjobson  configured eslint for code formatting.
https://github.com/ajay2507/ebay-node-api/pull/20

[2019-01-10 23:07] itranga opened #23 "Issue in access api"
const Ebay = require("ebay-node-api");

let ebay = new Ebay({
    clientID: "",
    clientSecret: '',
    body: {
        grant_type: "client_credentials"
    }
});
ebay.getAccessToken().then((data) => {
    ebay.searchItems({
        keyword: "drone",
        limit: "3"
    }).then((data) => {
        console.log(data);
    })
}, (error) => {
    console.log(error);
});

Issue

{"errors":[{"error

[2019-01-12 07:45] ajay2507 commented on #23
@itranga  Are you passing the correct client ID and client secret ?.
It's working and I am getting the output https://jsoneditoronline.org/?id=1a5b88540f6e472393ec57e1a3b360b7

[2019-01-12 07:57] ajay2507 opened #24 "eBay Catalog Api integeration."
https://developer.ebay.com/api-docs/commerce/catalog/overview.html

[2019-01-12 08:01] ajay2507 commented on #8
@chinhai077  closing this, hoping that this issue is resolved.

[2019-01-12 08:01] #8 closed

[2019-01-13 03:49] ajay2507 opened #25 "Add sandbox environment support"

[2019-01-15 03:07] #25 closed

[2019-01-18 01:11] sbchens88 commented on #23
@ajay2507 Have the same problem, verified client ID and client secret

[2019-01-22 07:52] ajay2507 commented on #23
@sbchens88  Have to include scope to access this api, try to include scope like below

[code]

[2019-01-22 19:07] sbchens88 commented on #23
Works! thank you! @ajay2507

[2019-01-23 01:03] ajay2507 commented on #23
closing this issue.

[2019-01-23 01:03] #23 closed

[2019-02-07 16:20] pythoncreate opened #28 "Cannot find module 'make-string'"
not sure if i'm doing this correctly but i'm getting the following error:

`Error: Cannot find module 'make-string'`

here is my code:

[code]

any ideas?

[2019-02-07 16:34] ajay2507 commented on #28
@pythoncreate I will include the dependency and publish new version. As of now, you can manually install the module. It will work.
`npm install make-string`

[2019-02-07 16:39] pythoncreate commented on #28
ok thanks!  I did do that... now when i run the get request, it's hanging on me, and showing 'undefined...any idea what might be wrong?

[code]

[2019-02-08 10:20] ajay2507 commented on #28
@pythoncreate  I think you are getting the proper response. you need to extract the searchResult from the JSON.
`[ { ack: [ 'Success' ],
    version: [ '1.13.0' ],
    timestamp: [ '2019-02-07T16:37:48.940Z' ],
    searchResult: [ [Object] ],
    paginationOutput: [ [Object] ],
    itemSearchURL:
     [ 'http://www.ebay.com/sch/i.html?_nkw=iphone&_ddo=1&_ipg=10&_pgn=1' ] } ]`

[2019-02-08 10:39] ajay2507 commented on #28
fix https://github.com/ajay2507/ebay-node-api/pull/29

[2019-02-08 10:39] #28 closed

[2019-02-14 13:03] #9 closed

[2019-03-01 22:56] daveybrown opened #31 "Error: ReferenceError: dataString is not defined"
Hi I get the following error when trying to get access token.

[code]

I fixed it by adding `let dataString = false;` above `methodName == "POST" ? dataString = qs.stringify(data) : '';` in [request.js](https://github.com/ajay2507/ebay-node-api/blob/master/src/request.js).

If this is an acceptable fix, please let me know and I'll create a pull request.

Thanks :)

[2019-03-02 21:18] ajay2507 commented on #31
@daveybrown Thanks for reporting it. dataString is a string.
so you can keep
[code]
you can create pull request for this.

[2019-03-08 17:51] ajay2507 commented on #31
Fixed.

[2019-03-08 17:51] #31 closed

[2019-03-09 07:44] nizanjum commented on #31
Where should i pass this dataString?

Please find below my code.. I am getting the same error

        let dataString = '';
	ebay.getAccessToken()
	    .then((data) => {
	        console.log(data);
	    }, (error) => {
	    	console.log(error);
	});

[2019-03-09 09:26] ajay2507 commented on #31
@nizanjum I have pubhlised a new version(2.5.4), install it again using below command and try
`
npm install ebay-node-api
`

[2019-03-09 17:53] m2jobe commented on #23
Could you please add this in the readme?

[2019-03-20 05:51] civilizador opened #34 "Mixed Content Issue. NPM is not working with https apps. The pagewas loaded over HTTPS, but requested an insecure resource"
Hello dear community.
My app is functioning over https since it's working with user's location.
How I can achieve your library to make calls on https not http api's ?
What I get now is:
 Mixed Content: The page at ... was loaded over HTTPS, but requested an insecure resource 'http://svcs.sandbox.ebay.com/services/search/FindingService/v1?SECURITY-APPNAME=...'. This request has been blocked; the co

[2019-03-23 07:47] ajay2507 commented on #34
@civilizador  Fixed. Try installing new version ebay-node-api@2.5.5

[2019-03-25 05:45] ajay2507 commented on #34
Fix https://github.com/ajay2507/ebay-node-api/commit/307016f92af7e59aa0d2afe830f8bc9be6cb497b. Closing this.

[2019-03-25 05:45] #34 closed

[2019-04-09 08:16] viandanteoscuro opened #35 "LMS support"
Thankyou for your work!

Is there a LMS support?
Thanks

[2019-04-10 05:01] ajay2507 commented on #35
@viandanteoscuro Nope. I can take that as improvement. If you are interested in specific calls, I can implement that.
https://developer.ebay.com/DevZone/large-merchant-services/Concepts/LandAPIRef.html

If you want, feel free to contribute.

[2019-05-14 23:41] ajay2507 opened #36 "How to find epid p"

[2019-06-17 16:04] daveybrown opened #38 "getAccessToken() - a new access token with each request"
Hi, should I be caching the access token and using it?

At the moment it looks like the module is requesting a new access token from ebay with every method call.

Is there an option to use a cached access token?

[2019-06-21 07:34] pajaydev commented on #38
@daveybrown Hey, right now this library doesn't support caching. I recommend you to cache the access token. As I am planning to integerate with `lru-cache` as enhancement.

[2019-06-21 07:35] pajaydev commented on #38
@daveybrown  If you have any other idea, Let me know

[2019-06-26 15:01] simonwjackson opened #39 "throws ERR_UNESCAPED_CHARACTERS when keyword contains spaced"
[code]

[code]

[2019-06-29 17:00] pajaydev commented on #39
Thanks @simonwjackson for reporting. It got fixed in version 2.5.6. Kindly do
`yarn install ebay-node-api@2.5.6`

[2019-06-29 17:01] #39 closed

[2019-08-11 22:43] pajaydev opened #44 "Integerate with Oauth-ebay module"
Integerate with [oauth-ebay node module](https://github.com/pajaydev/oauth-ebay) to get client credentials and Authorization code access token.

[2019-08-14 01:09] zslabs opened #45 "findCompletedItems support"
👋 @pajaydev

Thanks for creating this! I was wondering if you had any thoughts on supporting the [findCompletedItems](https://developer.ebay.com/devzone/finding/callref/findCompletedItems.html) method; as I'm attempting to create an interface that users can use to not only see current listings, but also completed listings to gauge market-value.

In addition (I can also create another ticket on thi

[2019-08-14 22:36] pajaydev commented on #45
@zslabs  Thank u so much for raising this. I can add the support for `findCompletedItems`, I will prioritize this. I will let you know once am done.

[2019-08-14 22:37] zslabs commented on #45
Thank you very much for the quick response and for looking into this!

[2019-08-18 21:48] pajaydev commented on #45
@zslabs  published in `ebay-node-api@2.6.0`

[2019-08-18 21:48] #45 closed

[2019-08-19 01:16] zslabs commented on #45
Thanks for doing this!

[2019-08-23 15:04] daveybrown opened #49 "Some way to add custom headers"
As far as I can tell, if I want to use ebay from a non US country. I need to send a custom header with each request. Something like...

`'X-EBAY-C-MARKETPLACE-ID': 'EBAY_GB',`

Is there a nice way to integrate this into the project?

[2019-08-24 21:54] pajaydev commented on #49
@daveybrown  Right now custom headers are not supported in this repo. I would love to include this feature. If you are interested, you can work on this or I can take this up.

[2019-08-26 15:23] daveybrown commented on #49
Hi @pajaydev , right now, I'm working on a project and I don't have much spare time. When the project is launched I plan to contribute to the packages I've used. I'll hopefully be in contact then. Thanks bro :)

[2019-08-28 02:40] pythoncreate opened #50 "Is there a way to sort on bid count?"

[2019-08-28 22:24] pythoncreate commented on #50
ok thank you!  so i guess this doesn't output the number of bids, right?  since that data looks like it is in findItemsAdvanced

[2019-08-29 00:18] pythoncreate commented on #50
sorry, my mistake, i can see the bidCount in the response.  thanks!

[2019-08-29 00:18] #50 closed

[2019-09-02 20:25] zslabs opened #51 "Best Offer Sold Prices"
@pajaydev It looks like a few weeks ago (I believe) eBay removed the actual sale price from the API responses for listings that had a best offer option, but I'm still seeing some other websites display them. Are you aware of a way around this, or does this have something to do with the eBay Compatible Application process?

[2019-09-04 07:24] pajaydev commented on #51
@zslabs I need to check. I can check and get back to you. What Api are you exactly using ?.

[2019-09-04 11:21] zslabs commented on #51
Really appreciate the quick response. I'm not quite sure if this is the info you're looking for, but this is using the `findCompletdItems` endpoint from this package, using the "Finding API" on version 1.13.0. Thanks again!

[2019-09-09 08:10] #49 closed

[2019-09-10 05:42] pajaydev commented on #49
@daveybrown  You can use custom headers using this version `ebay-node-api@2.7.0`

[2019-09-10 07:26] daveybrown commented on #49
Awesome!

[2019-09-18 12:11] zslabs commented on #51
I'm not sure if this is still valid, but I did read this on a forum:

I see this library has a tag of `ebay-trading-api` is there an example of using it within the library by chance?

[2019-09-21 02:55] pajaydev commented on #51
@zslabs Sorry I was bit busy. Let me check and get back to you

[2019-09-22 13:21] zslabs commented on #51
@pajaydev No worries, thank you very much!

[2019-10-07 20:01] poppabear8883 commented on #12
+1 I'm also interested in seeing this

[2019-10-08 02:35] pythoncreate opened #58 "Can I Search By Keyword and Category?"
Sorry if this is a dumb question, but I'm having a hard time figuring out how to query the API on both keyword and category ID.   I see that ability in find advanced in ebay api, but i don't see that ability here.  Am I wrong?  Thanks

[2019-10-09 00:10] pajaydev commented on #58
@pythoncreate  Let me check

[2019-10-09 07:32] pajaydev commented on #58
@pythoncreate  you can use something like this

[code]

[2019-10-13 23:44] pajaydev commented on #58
@pythoncreate  Closing this issue. Kindly create new one if the solution not working.

[2019-10-13 23:44] #58 closed

[2019-11-08 20:43] kkis opened #59 "Add other params"
Hello Ajaykumar,

Maybe you can add an option to add other params to the buildSearchUrl() method?

something like:

[code]

Or is it already included and i miss it?

Best
Kevin

[2019-11-09 09:05] pajaydev commented on #59
Hey Kevin, Thanks for creating this issue.
I thought I have covered maximum of the params. Feel free to add if you want this to be added.

Few params have mismatch like api has param `paginationInput.pageNumber` but I accept `pageNumber` so in that case the above function won't work.

I am also thinking to revisit this logic, Free feel to play around with it and let me know if you find any better

[2019-11-18 20:28] doverradio opened #60 "How can you use searchByImage with ebay-node-api?"
Hello, Ebay is [giving API access on searchbyimage](https://developer.ebay.com/api-docs/buy/browse/resources/search_by_image/methods/searchByImage). Can this be used with your library? I want to search ebay for items with only image.

[2019-11-18 21:06] pajaydev commented on #60
@doverradio  Right now it's not supported. I will try to integrate it. If you are willing to contribute, you can take up this one.

[2019-11-23 23:51] #60 closed

[2019-11-23 23:54] pajaydev commented on #60
@doverradio  I have published the changes. You can install ```npm i ebay-node-api``` to get the latest changes.

Kindly check here for reference to use the api
https://github.com/pajaydev/ebay-node-api/blob/master/demo/searchApi.js#L92

Closing this, kindly create a new issue if you have any concerns

[2019-11-26 22:17] doverradio opened #62 "Unable to search by UPC code when using findItemsByProduct"
Hello,

I find that I am unable to retrieve products when using the findItemsByProduct call and wonder if perhaps I am using it wrong.

Please find my code below:
[code]

I am using UPC code 098811586707 for testing.  It is clearly associated with [this item on ebay](https://www.ebay.com/itm/RUGGABLE-Washable-Stain-Resistant-Pet-Area-Rug-Noor-Sapphire-Sapphire-8-x-10/401959598369) (scroll down unt

[2019-11-27 16:39] zslabs commented on #51
@pajaydev Happen to have any thoughts on this one yet?

[2019-11-27 20:42] pajaydev commented on #62
@doverradio Thanks for reporting. I tried couple of methods, it didn't work.
I have raised this issue in ebay forum, let's wait for solution.
https://forums.developer.ebay.com/questions/33499/i-need-to-search-for-a-product-with-upc-type.html
Until that you can use `searchProductByKeyword` if you have keyword combination.

[2019-11-27 20:43] pajaydev commented on #59
@kkis  am closing this issue. Kindly create one if you still have any issue.

Thanks!.

[2019-11-27 20:43] #59 closed

[2019-11-27 20:55] doverradio commented on #62
Yes, I was able to successfully query for UPC codes via searchProducByKeyword.  Thanks so much!

As an aside, do you know how I can filter the results?  I want to create separate results for sold, unsold.

Can this be accomplished?

[2019-11-27 20:57] pajaydev commented on #51
Hey @zslabs ,
Apologies for late response.

`ebay-trading-api` support soap xml based api. This project doesn't support xml based Api's. I can see the newer version of it. Kindly let me know if it's useful to you. I can integerate with that.

https://developer.ebay.com/api-docs/sell/inventory/resources/offer/methods/getOffers

[2019-11-27 20:58] pajaydev commented on #62
@doverradio  How you were able to query successfully ?. Is it possible to share the query ?.
meanwhile, I will look into the filter part.

[2019-11-27 21:11] doverradio commented on #62
Yes sure, here is my code (works):

[code]

[2019-11-27 23:09] zslabs commented on #51
@pajaydev That looks pretty cool! I of-course can't think of it at the moment, but I remember there being an endpoint that would list the offers, and then which one was actually "accepted". I may be just missing it on that doc page, but are you aware if that endpoint would do the trick?

[2019-11-27 23:35] nickpap2 opened #63 "Problem with aspect_filter at .searchItems"
Hello. Really nice work I like it very much.
I have a problem , although I use the right code it just does not recognizes aspect_filter and it returns phones in general ( I put phones as an example). Am I doing something wrong?
code:

const APIData = JSON.parse(await ebay.searchItems({
        keyword: 'phones',
        limit: '30',
        sort: '',
        offset: 0,
        filter: `price:[${Fi

[2019-11-28 22:39] nickpap2 commented on #63
Turns out there wasn't any code for aspect_filter thats why it didn't work.I wrote the code and made a pull request .Have a nice day.

[2019-11-28 22:39] #63 closed

[2019-11-29 01:36] pajaydev commented on #63
@nickpap2  Published a new version with your changes `ebay-node-api@2.7.4`. Thanks.

[2019-11-29 01:39] pajaydev commented on #62
@doverradio  Thanks for sharing the code. I have included support for aspect_filter in `findItemsByKeyword` method. Kindly get the newer version `yarn install ebay-node-api@2.7.4`.
You can use like this for sold and unsold

[code]

Kindly let me know if you are facing any issues.

[2019-12-01 03:39] pajaydev commented on #62
@doverradio  Closing this. Kindly create a new one if you face any other issue.

[2019-12-01 03:39] #62 closed

[2019-12-06 05:47] wittyapps opened #65 "Ebay Partner Network Affiliate Link"
Hello, are we able to add the affiliate data to the finding api input fields. see example below.

ebay.findItemsByKeywords({
            keywords: keywords,
            pageNumber: 1,
            limit: 30,
            affiliate: {
                customId: "search-ebay",
                networkId: "9",
                trackingId: "123456"
            }
        }).then((data) => {

});

[2019-12-06 08:12] pajaydev commented on #65
@wittyapps  I will check and let you know

[2019-12-08 01:54] pajaydev commented on #65
@wittyapps  Fixed it in `ebay-node-api@2.7.5`
Kindly use like below

[code]

[2019-12-09 04:22] wittyapps commented on #58
can we get this to work with "findItemsByKeywords" method as well?

[2019-12-20 17:32] patchcad opened #67 "Request - findItemsAdvanced"
Hello,

Would it be possible to add the **findItemsAdvanced** search function? There doesn't seem to be any other way to filter by categoryId without it.

Thank you very much!

Adam

[2019-12-21 01:10] pajaydev commented on #67
@patchcad  Sure. I will add, free feel if you want to contribute this.

[2019-12-22 11:12] patchcad commented on #67
Thank you very very much!!!

[2019-12-26 01:15] pajaydev commented on #67
@patchcad  You can install the latest version to get this `npm install ebay-node-api@2.7.6`

[2019-12-26 09:39] patchcad commented on #67
Thank you so very very much!!! It's working perfectly!!!

Merry Christmas and Happy Holidays!

[2019-12-26 09:39] #67 closed

[2019-12-30 19:15] #65 closed

[2020-01-03 18:53] hems commented on #6
@pajaydev did you ever get to use the Order API ?

It seems there is no node.js implementation for it ?

[2020-01-03 23:14] pajaydev commented on #6
@hems  Planning to integrate it. Free feel to take it if you want to contribute.

[2020-01-03 23:38] hems commented on #6
I just got access to the EBAY DEVELOPER API today, so i'm still barely understanding it.

I find the documentation to be very messy.

Let me know if you manage to do any progress on it or make at least 1 example.

Thank You

[2020-01-05 04:28] pajaydev commented on #6
@hems  sure. I will try to take this task.

[2020-01-06 13:06] hems commented on #6
awesome!

All i want to do is to use the API to click "Buy Now" on an specific item for sale, but the API seem to be very confusing..

Did you manage to use the API to create a cart and checkout?

Fingers crossed we will find a way ( :

Happy 2020.

[2020-01-12 00:59] zslabs commented on #51
@pajaydev I did a bit of research and it looks like the endpoint I was thinking about was just for users to see their "own" accepted offers, but I'm hoping there's a way we can regain functionality to see best offers accepted on generic searches.

[2020-01-12 01:01] zslabs opened #70 "Get seller items"
I was hoping `searchItems` would just allow me to use the `filter` param to pass through just a seller, but a keyword is required. Any thoughts on a way around this, or is there another endpoint that could be utilized to achieve listing a seller's items? Basically - the results from a page like https://www.ebay.com/sch/zroddick77/m.html?_nkw=&_armrs=1&_ipg=&_from=

[2020-01-12 01:18] zslabs commented on #70
Found it! You can use the following (for anyone else that needs it):

[code]

[2020-01-12 01:18] #70 closed

[2020-01-12 01:48] pajaydev commented on #70
@zslabs cool thanks 👍

[2020-02-26 10:05] dantio opened #73 "Introducing our TypeScript library"
Hey everyone,

@pajaydev first of all, thank your amazing work on this project.

We took this library (with other similar libraries) as an example to implement a new eBay API library based on TypeScript: https://github.com/hendt/ebay-api. Now, we want to share this library with you!

This libarry has almost all APIs (traditional and RESTful) and supports Auth'N'Auth and OAuth2. You can even use eB

[2020-02-28 18:33] pajaydev commented on #73
@dantio  Thanks. Sure, I can take a look.

[2020-03-07 07:49] abbadata opened #76 "findItemsByKeywords - when keywords value passed in as object, spaces seem erroneously removed"
The following two calls to findItemsByKeywords should return the same results:

ebay.findItemsByKeywords({ keywords: "ralph lauren polo" }).then(
  data => {
    console.log("DATA: ", data);
    console.log(" searchResult: ", data[0].searchResult);
  },
  error => {
    console.log(error);
  }
);

ebay.findItemsByKeywords("ralph lauren polo").then(
  data => {
    console.log("DATA: ", data);

[2020-03-11 20:06] pajaydev commented on #76
Closing as this is fixed.

[2020-03-11 20:06] #76 closed

[2020-03-15 00:20] pajaydev commented on #44
Closing this. Users can use this one to officially generate the token.
https://github.com/eBay/ebay-oauth-nodejs-client

[2020-03-15 00:20] #44 closed

[2020-03-28 01:24] machineghost opened #81 "Error: invalid_client: client authentication failed"
When I try to follow the basic example I can't even get past `getAccessToken`:

[code]

When I run the above, I get an error of "invalid_client", with a description of "client authentication failed".  However, I'm copy/pasting my exact EBay account SID/auth token, so unless I'm using the wrong auth variables (the only other ones EBay gives me are the read-only ones) I'm not sure what I could be do

[2020-03-28 03:11] pajaydev commented on #81
@machineghost  Thanks for using this library.
Below code is working for me

[code]
Try using this code. If it's still not working, make sure that you are using sandbox client id and secret key ?.

Let me know if you need any help.

[2020-03-28 16:03] machineghost commented on #81
Thanks a bunch for the response.  I think I got confused ang got a "web services auth token", which is not the same as an API token (why they have both is beyond me).  I signed up for the developer program (separately) and am now waiting for access to that, which should (hopefully) give me working credentials.

I'll let you know if that doesn't work, but hopefully it will.  Thanks again.

[2020-03-28 16:03] #81 closed

[2020-03-28 20:56] pajaydev commented on #81
Cool thanks 👍

[2020-04-11 21:37] pajaydev opened #82 "Integrate with Ebay Feed Api"
Integrate with [eBay feed Api](https://developer.ebay.com/api-docs/buy/feed/resources/item/methods/getItemFeed#h2-input)

[2020-04-18 21:52] IIdmscII opened #83 "Add wrappers for GetSingleItem and GetMultipleItems of the shopping api"
Hey thanks for the great work!
If you have time I could use wrapper functions for the api calls GetSingleItem and GetMultipleItems from the shopping api. Thx!

See: https://developer.ebay.com/devzone/shopping/docs/CallRef/GetSingleItem.html
and https://developer.ebay.com/devzone/shopping/docs/CallRef/GetMultipleItems.html

[2020-04-19 06:20] pajaydev commented on #83
@IIdmscII  Thanks for using this library. I will keep it in my list todo.

[2020-04-24 11:21] pajaydev commented on #83
@IIdmscII  Its fixed in this version. Kindly use `ebay-node-api@2.8.3`

[2020-04-26 05:57] pajaydev commented on #83
Closing this. Kindly create a new issue if you are facing any issue.

[2020-04-26 05:57] #83 closed

[2020-04-28 21:28] iamtylerd opened #86 "findCompletedItems not returning data"
Having an issue with the method findCompletedItems.  I have tested many ways and I can never get a result.  Here is an exmpale.

[code]

I can get a simple search (like below) to work so I am thinking my credentials and setup is working.

[code]

Any suggestions?

[2020-04-28 21:33] iamtylerd commented on #86
disregard, something to note if using findcompleteditems you will need to be in production and not sandbox, thank you for your work

[2020-04-28 21:33] #86 closed

[2020-04-28 21:35] pajaydev commented on #86
@iamtylerd ohh good to know 👍

[2020-04-29 18:28] insanity54 opened #87 "constructAdditionalParams seems out of place"
I think the [constructAdditionalParams method](https://github.com/pajaydev/ebay-node-api/blob/c36e6b3d566cde7d8aa4dcdf041c3d8a2b7f92ab/src/findingApi.js#L115) Is useful for more modules than just findingApi. I think it makes sense to put that method in `src/common-utils/index.js` instead of `src/findingApi.js`

[2020-04-29 18:31] insanity54 commented on #6
I am working on implementing the [getOrders](https://developer.ebay.com/api-docs/sell/fulfillment/resources/order/methods/getOrders#h2-output) method and perhaps a few other methods in [Fulfillment API](https://developer.ebay.com/api-docs/sell/fulfillment/resources/methods)

[2020-04-29 18:35] hems commented on #6
^ that sounds great and surely it will be very useful!

Also, I was under the impression that Order API would allow me to "create an order" in order to buy something on EBAY from another seller, but from checking this links it seems that it's not the case?

Any idea of how we could use the ebay API to buy items from other sellers?

[2020-04-29 18:40] insanity54 commented on #6
I've only looked into the [Sell API](https://developer.ebay.com/products/sell). Sounds like you need the [Buy API](https://developer.ebay.com/products/buy)

[2020-04-29 19:15] pajaydev commented on #87
@insanity54  Sounds good. if you like to contribute, you can create a PR with this change. Thanks

[2020-04-29 19:17] hems commented on #6
absolutely, that's right.

thanks for pointing that out.

[2020-05-07 19:38] zslabs opened #88 "2.8.2 > 2.8.3 Lost MyWorldLargeImage"
👋 When upgrading to `2.8.3` `User.MyWorldLargeImage` that is normally attached to `getUserDetails` is not being returned anymore. cc @pajaydev

[2020-05-07 20:00] pajaydev commented on #88
@zslabs  My bad. I realized it just now. Thanks for reporting, let me fix it and republish it.

[2020-05-07 23:33] pajaydev commented on #88
@zslabs  I have fixed it in `ebay-node-api@2.8.4` Kindly test it. Thanks 👍

[2020-05-08 00:53] zslabs commented on #88
That did it, thanks!

[2020-05-08 00:53] #88 closed

[2020-05-08 02:59] pajaydev commented on #88
Cool 👍

[2020-05-08 16:22] TotallyNotChase commented on #10
Looks like the listing api isn't implemented yet. I would like to take this on and see how far I go.

I believe [this](https://developer.ebay.com/api-docs/sell/listing/resources/item_draft/methods/createItemDraft#_samples) is the api that should be implemented. I'm thinking about having a function for the listing itself, essentially the user passes the `Request payload`, which contains information

[2020-05-08 19:59] pajaydev commented on #10
@TotallyNotChase  Thanks. Yes, you can integrate that API, which use to create a draft listing in eBay.

[2020-05-12 20:15] nodecentral opened #90 "Watch Alerts/Notifications - Integration with Node Red"
Hi,

I was just wondering if there were any plans to integrate this with Node Red  ?
Is it possible to see your watch list ?

[2020-05-13 17:37] TotallyNotChase commented on #10
@pajaydev Hi! Currently working on both implementing the listing API and also creating some plans for some potential cleanup. I can finally start working full force now since I got my ebay dev account approved.

I just wanted to ask, in `getAccessToken`, where the user *is able to* pass in scopes as part of the `scope` parameter, are those parameters encoded? According to [this](https://developer.

[2020-05-13 22:00] Anand-Issac opened #91 "Running into CORS error"
from origin 'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.

I was wondering how to fix this error for the Search by keyword API

[2020-05-14 02:08] pajaydev commented on #91
@Anand-Issac  Kindly provide me more context how are you trying to access the library. Are you using in server-side or client-side using AJAX calls ?.

If server side, are u using express js ?.

[2020-05-14 02:09] pajaydev commented on #90
@nodecentral  Sorry!. Don't have any plans for this integration as of now.

[2020-05-16 06:34] Anand-Issac commented on #91
I was using an AJAX call, the fetch API in react to use the ebay Finding API. I set a proxy in my package.json to solve the CORS issue but now I face a problem that after I deploy the application using Firebase Hosting, the API call returns an index.html response instead of the JSON response I got in my localhost server. I was wondering why this was so and if there is any solution to this ?

[2020-05-16 17:58] doverradio opened #92 "Can you find items by seller?"
Hello, I want to get all the items for a specific seller on ebay.  I checked the ebay api and there is a call findItemsIneBayStores.  However, I tried using with your library so far it didn't work.  Can I find items by a specific seller with your library?

[2020-05-16 22:57] pajaydev commented on #92
@doverradio  I think the best api you can go with is `findItemsIneBayStores`, will integerate this library with `findItemsIneBayStores`. Thanks for raising this issue.

[2020-05-16 22:58] pajaydev commented on #91
@Anand-Issac  Ohh that's weird. Is there any URL or github link, I can check ?.

[2020-05-16 23:07] Anand-Issac commented on #91
Yes sure: https://github.com/Anand-Issac/shopping-cart

[2020-05-16 23:12] pajaydev commented on #10
@TotallyNotChase That's Awesome. I think we have to do something like this
https://github.com/eBay/ebay-oauth-nodejs-client/blob/901f8a2769293332953c9073bee20f6e07323369/src/index.js#L59

I am thinking to integrate with this library to get Access tokens. Kindly let me know if you want to do this. I can quickly make this change. Thanks

[2020-05-16 23:13] pajaydev commented on #91
Cool. I will take a look

[2020-05-17 01:06] doverradio commented on #92
Yes. Are you planning to update the library with this feature?

On Sat, May 16, 2020 at 3:57 PM Ajaykumar <notifications@github.com> wrote:

[2020-05-17 01:25] pajaydev commented on #92
@doverradio  yes, I will try to publish it tonight.

[2020-05-17 04:41] TotallyNotChase commented on #10
@pajaydev that's precisely it. Should just join the user provided array with a space and URLencode the whole thing.

[2020-05-17 04:48] #82 closed

[2020-05-17 04:49] pajaydev opened #93 "Integrate with ebay official auth module"
use the below library to generate the access token.

https://github.com/eBay/ebay-oauth-nodejs-client

[2020-05-17 04:50] pajaydev commented on #10
@TotallyNotChase  Cool. I have created this issue to integrate with eBay auth module.

https://github.com/pajaydev/ebay-node-api/issues/93

Let me know how fast u need this. easy fix is simply copying those lines and include in our library.

[2020-05-17 06:57] doverradio commented on #92
Oh man that is totally great news!

If you added the ability to sell items, that would be the greatest.
(Things to consider)

On Sat, May 16, 2020 at 6:25 PM Ajaykumar <notifications@github.com> wrote:

[2020-05-17 09:26] TotallyNotChase commented on #92
@doverradio yes the selling API is in the works

[2020-05-17 09:31] TotallyNotChase commented on #10
@pajaydev all good, no rush specifically for that. Quick question though, it seems we don't have a `authorization_code` flow set up. Looks like the ebay api will want the user consent code before giving a `authorization_code`, client credential workflow works fine but I suggest we implement the user consent functionality.

I could work on that before implementing the whole selling API, as we seem

[2020-05-17 10:07] pajaydev commented on #92
@doverradio  I can see that there is an existing API that supports to search based on the seller name. Kindly check with the below API.

[code]

[2020-05-17 17:02] TotallyNotChase commented on #93
Right, will we be just importing that library or should we copy the code from there to here? I think making this api standalone without the need of another ebay oauth package would be a good idea. As I mentioned in #10 I'm working on implementing this right now.

[2020-05-18 02:32] Anand-Issac commented on #91
@pajaydev Hey man. Did you figure out the problem yet?

[2020-05-18 03:29] pajaydev commented on #91
@Anand-Issac  Sorry was stuck in some other things, will look it up tonight

[2020-05-18 03:50] pajaydev commented on #91
@Anand-Issac  I can see its working fine in local (both read and write data from firebase).
if I am not wrong, you are facing issue after deploying. Kindly share me the URL where you have deployed the code.

![Screen Shot 2020-05-17 at 8 37 32 PM](https://user-images.githubusercontent.com/21375014/82172733-e0529b00-987f-11ea-8bac-e74416756963.png)

[2020-05-18 03:53] pajaydev commented on #93
@TotallyNotChase  am okay with it but I thought we need sync this library with [this one](https://github.com/eBay/ebay-oauth-nodejs-client). Free feel to take this up. Kindly let me know if you need any help.

Thanks. I appreciate it.

[2020-05-18 04:48] TotallyNotChase commented on #93
@pajaydev yep working on it right now. What exactly do you mean by *sync* btw?

[2020-05-18 05:13] Anand-Issac commented on #91
@pajaydev Thanks for the help bro

https://shopping-cart-b4473.firebaseapp.com/

[2020-05-18 05:18] Anand-Issac commented on #91
If you try to request ebay API now on deployed app it will return a HTML file (my index.html) instead of the proper JSON response. It still says Status 200 though ... I'm not exactly sure why this happens

[2020-05-18 19:03] TotallyNotChase commented on #93
@pajaydev quick update, I deployed the changes [here](https://github.com/TotallyNotChase/ebay-node-api/tree/oauth). I'd appreciate it if you could take a look and let me know if you're ok with these. I'll do a bit more bugtesting as soon as I get a chance and PR if you're ok with it.

[2020-05-19 05:35] pajaydev commented on #91
@Anand-Issac  sure I will take a look. Thanks

[2020-05-19 16:19] doverradio commented on #92
Hmm, I tried to use findItemsAdvanced but got error:

TypeError: ebay.findItemsAdvanced is not a function

How were you able to use this call?

On Sun, May 17, 2020 at 3:07 AM Ajaykumar <notifications@github.com> wrote:

[2020-05-20 04:51] pajaydev commented on #92
@doverradio  which version are you using ?. You can see the reference here https://github.com/pajaydev/ebay-node-api/blob/f3bee06a072f8b56e0be13362374fb2afe0dbd0e/demo/findingApi.js#L62

[2020-05-20 05:10] pajaydev commented on #91
@Anand-Issac  I made a simple proxy using express JS to call this library.

Kindly take a look at it.

https://gist.github.com/pajaydev/b10b4d29bae85b441954d298a9e0d2c3

I would do like this to set up a simple proxy. Let me know if you face any issue

[2020-05-20 14:14] Anand-Issac commented on #91
Let me give it a try

On Wed., May 20, 2020, 1:10 a.m. Ajaykumar, <notifications@github.com>
wrote:

[2020-05-21 19:23] pajaydev commented on #92
@doverradio  I have integerated with `findItemsIneBayStores`. Kindly install the latest version
[code]

you can use this method https://github.com/pajaydev/ebay-node-api/blob/master/demo/finding.js#L81

[2020-05-21 19:24] pajaydev commented on #92
Closing this issue, kindly create issue if you face any other issues.

[2020-05-21 19:24] #92 closed

[2020-05-21 19:24] pajaydev commented on #87
@insanity54 Fixed it in #94

[2020-05-21 19:24] #87 closed

[2020-05-21 20:33] doverradio opened #95 "Buy Now, US Location Only, Free Shipping, Sort least to greatest"
Hello,

Thank you so much for adding the ability to search by seller.

1. How do I search for a seller and specify Buy Now, US Location Only, Free Shipping, Sort least to greatest from those results?

2. How do I request these things for when making general search calls not for a specific seller?

[2020-05-22 02:10] zslabs commented on #51
@pajaydev It looks like the fallback URL I used to use to at least surface the info `https://cgi.ebay.com/ws/eBayISAPI.dll?ViewItemVersion&item=ITEM_ID_HERE` isn't working anymore... eBay sure is making this difficult ;)

I found that if you visit a URL like `https://www.ebay.com/itm/303546891616?orig_cvip=true`, view the source, search for the text string `taxExclusivePrice` that amount is the ac

[2020-05-22 19:28] KirianCaumes opened #96 "Issue with two "encodeURIComponent" instead of one"
Hi,
Just noticed an issue in the last version ("2.8.5") with the method "findItemsByKeywords".
You are calling two times "encodeURIComponent" on the keywords variable :

[code]

then

[code]

So keywords like "foo bar" would look like "foo%2520bar" instead of "foo%20bar", resulting in a wrong search against Ebay's API.

Noticed that this issue might be present in other piece of codes, but I haven'

[2020-05-23 00:21] pajaydev commented on #96
@KirianCaumes  Thanks for pointing this out. I appreciate it 😄 .  Will fix it and release a new version.

[2020-05-23 04:47] pajaydev commented on #96
@KirianCaumes  I have fixed it. Kindly use this version
```npm install ebay-node-api@2.8.6```

[2020-05-23 06:52] TotallyNotChase commented on #93
Hello again, did you get a chance to review the oauth branch?

I'm writing this to inform you that some bad weather has wrecked my
internet connectivity and hence I wasn't able to make a PR for the full
oauth flow yet. But rest assured, I'll be making one as soon as my comms
are fixed.

I also noticed you rolled out a new version and made sure to apply those
changes to my oauth branch. Although I

[2020-05-23 09:35] KirianCaumes commented on #96
No problem 😁
It works fine now, thanks !

[2020-05-23 09:35] #96 closed

[2020-05-24 17:21] Anand-Issac commented on #91
Hey @pajaydev Sorry for the long response time. I had a lot of school work to do.

Okay so I implemented your solution. The problem is. When I run in my local server the response says 200 but it returns me my own HTML page as a response instead of the JSON data I would like

Can you please take a look?
https://github.com/Anand-Issac/shopping-cart

Here is the repo .

Thanks

[2020-05-27 08:01] pajaydev commented on #95
@doverradio  you can search using the browse api with following filters. You can specify the seller name also.
Kindly check this one
https://developer.ebay.com/api-docs/buy/browse/resources/item_summary/methods/search#h2-input

[2020-05-27 08:05] pajaydev commented on #91
I will take a look

[2020-05-29 20:43] boopathikumar018 opened #100 "Dark and light theme with switch"
Hi

Dark and light theme with switch using [docsify-darklight-theme](https://docsify-darklight-theme.boopathikumar.me/#/) for you docsify documentation.

[2020-05-30 00:41] pajaydev commented on #100
@boopathikumar018  That's really cool.
Feel free to contribute if you want, this is the branch we use for documentation

https://github.com/pajaydev/ebay-node-api/tree/gh-pages

[2020-05-30 13:35] boopathikumar018 commented on #100
Hi @pajaydev,

Please find the [PR](https://github.com/pajaydev/ebay-node-api/pull/101).

[2020-05-30 22:31] pajaydev commented on #100
Looks good. Thanks 👍

[2020-05-30 22:32] #100 closed

[2020-06-02 23:08] doverradio commented on #95
Hi, I tried using the filters in FindItemsByCategory in this way
[code]
but got `error Invalid category ID`.

How can I pass in filters on this call?

If I deviate from your example it constantly fails but I need to specify show sold only and price range.

[2020-06-02 23:11] cheersdigital opened #102 "Can't resolve 'fs'"
Hi,

I receive the following issue when I require the ebay-node-api package. I'm using Nuxt.js framework.

Module not found: Error: Can't resolve 'fs'

I tried to install 'fs' at project level but that doesn't help.

Cheers

[2020-06-02 23:47] pajaydev commented on #95
@doverradio  Thanks for reporting, it was not supporting filtering. Let me make this change quickly.

[2020-06-02 23:52] pajaydev commented on #95
Let me create a new issue to keep it separate from this thread.

[2020-06-02 23:54] pajaydev opened #103 "findItemsByCategory is not supporting filters"
@doverradio reported

Hi, I tried using the filters in FindItemsByCategory in this way

ebay.findItemsByCategory({
    categoryID: 10181,

}).then((data) => {
    // console.log(data);
    console.log(data[0].errorMessage[0].error[0].message[0]);
}, (error) => {
    console.log(error);
});
but got error Invalid category ID.

How can I pass in filters on this call?

If I deviate from your example i

[2020-06-03 00:05] #102 closed

[2020-06-03 01:10] pajaydev commented on #95
@doverradio  you can use this directly like below to get the sold  items

[code]

Kindly let me know did i get ur question correct.

[2020-06-03 01:15] pajaydev commented on #102
@cheersdigital hey Tim, did this issue got resolved ??

[2020-06-03 01:59] cheersdigital commented on #102
Hi Ajay. Yeah I found a solution and marked it resolved.

Is there any way around CORS with this package? I can use a proxy but need to change the base auto to be something different.

Cheers

Tim

[2020-06-03 19:03] doverradio commented on #103
Sorry, there is yet one more parameter I am trying to get in, show only BuyItNow or FixedPrice.  Is there a way to do that currently?  I tried passing in different parameters but fails and always includes Auction.

[2020-06-04 03:01] pajaydev commented on #103
@doverradio You can filter the buy it now items like this

[code]

[2020-06-04 07:31] pajaydev commented on #102
@cheersdigital  Hey you can create an proxy in your server like this. am calling on click of button on server-side.

https://gist.github.com/pajaydev/b10b4d29bae85b441954d298a9e0d2c3

[2020-06-04 20:11] doverradio commented on #103
Tho your example worked, I was unable to figure out how to pass in the category properly.  When I do this:
[code]

 it gives no results.  I just want to get all the Sold Only, Buy It Now, Free Shipping, and US Only items for each category on Ebay.  What is the correct call to make for these conditions?

[2020-06-06 06:14] pajaydev commented on #103
@doverradio  It's working for me, which version are you using ?.

[2020-06-06 17:52] mooSylla opened #105 "getDefaultCategoryTreeId ReferenceError: isString is not defined"
Hello mate!

The method "getDefaultCategoryTreeId" of the  Taxonomy-api is not working!

**Original code**
`
try{
      await ebay.getAccessToken()
      const data = await ebay.getDefaultCategoryTreeId(EbayMarketplace)
      console.log(data);
      return data;
    }catch(err){
      console.log(err)
    }
  }
`
**Error Message:**

`
ReferenceError: isString is not defined
    at Object.<anonymo

[2020-06-06 21:00] pajaydev commented on #105
@mooSylla  my bad,  Thanks for pointing this out. Cool I will review the PR, I appreciate it.

[2020-06-06 23:38] mooSylla commented on #105
My pleasure @pajaydev, this is my first PR I'm very excited :) take all your time man.

[2020-06-07 00:54] pajaydev commented on #105
@mooSylla  Closing this as u fixed it. Thanks. I will publish a new version

[2020-06-07 00:56] #105 closed

[2020-06-08 07:55] pajaydev commented on #103
@doverradio  Added this in version 2.8.7. Kindly install this version and try

[code]

[2020-06-08 07:55] #103 closed

[2020-06-09 21:38] doverradio opened #108 "How to specify MinPrice and MaxPrice in completed items call?"
Hello,

I am trying to get the completed items within a specified MinPrice and MaxPrice to show only sold items but it keeps giving error response.  However, [according to this ebay page](https://developer.ebay.com/DevZone/finding/CallRef/types/ItemFilter.html), MinPrice and MaxPrice must be passed in as params.  Can you please check my code?  Perhaps I am doing something wrong?

[code]

When I re

[2020-06-10 07:35] pajaydev commented on #108
Right now it's not honoring `itemFilter` as separate field. you can provide it like this .

I will try to do more documentation as this is more confusing to users.

As of now, You can use like this

[code]

[2020-06-10 07:38] #93 closed

[2020-06-12 06:28] pajaydev commented on #108
@doverradio  Let me know if the issue got resolved. I will close the bug

[2020-06-27 05:18] pajaydev commented on #108
Closing this bug.

[2020-07-09 20:52] mako10110 opened #110 "SyntaxError: Unexpected end of JSON input"
ebay.getItemStatus(['153265274986', '153265274986']).then((data) => {
        console.log(data);
    }, (error) => {
        console.log(error);
    });

this method triggers SyntaxError: Unexpected end of JSON input

[2020-07-10 23:09] pajaydev commented on #110
@mako10110  Are you using like this

[code]

It works fine to me.

[2020-07-20 21:08] aacase opened #113 "Cannot Install Package"
`error Received malformed response from registry for "oauth-ebay". The registry may be down.`

I checked, and that package is 404ing from the npm registry.

[2020-07-20 21:18] yaroslaviy commented on #113
Same issue, ```oauth-ebay``` has been removed

[2020-07-20 21:40] pajaydev commented on #113
@aacase  @yaroslaviy  Sorry for the inconvinience, we had to remove the oauth-ebay for security reasons. I have published a new package, kindly try now

[code]

[2020-07-20 21:44] pajaydev commented on #113
https://github.com/pajaydev/ebay-node-api/pull/114

[2020-07-22 04:37] pajaydev commented on #113
Closing this

[2020-07-22 04:37] #113 closed

[2020-07-22 04:39] pajaydev commented on #110
@mako10110  Closing this, kindly re-open the issue if you have any concerns.

[2020-07-22 04:39] #110 closed

[2020-07-27 14:35] adibenmati opened #115 "Npm install is failing"
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/oauth-ebay/-/oauth-ebay-1.3.2.tgz
npm ERR! 404
npm ERR! 404  'oauth-ebay@1.3.2' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404 It was specified as a dependency of 'ecoprice-backend'
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm

[2020-07-27 20:13] pajaydev commented on #115
@adibenmati  Kindly install the library again, you wont face this issue

[code]
or
[code]

[2020-07-28 19:07] pajaydev commented on #115
Closing this. Kindly let me know if you are facing this issue

[2020-07-28 19:07] #115 closed

[2020-07-30 21:33] pajaydev opened #116 "Integerate with ebay deals api"
https://developer.ebay.com/api-docs/buy/deal/static/overview.html

[2020-09-03 06:48] ILDaviz commented on #12
ok right!

[2020-09-15 04:11] pajaydev commented on #95
@doverradio Closing this issue, kindly re-open if u r facing this issue

[2020-09-15 04:11] #95 closed

[2020-09-17 07:44] pajaydev opened #123 "Integerate with charity API"
Docs : https://developer.ebay.com/api-docs/commerce/charity/resources/charity_org/methods/getCharityOrg

[2020-10-04 21:27] rdcorp commented on #51
Hello @zslabs
Did you come up with a solution for this problem of getting taxExclusivePrice for sold items?
Would you please share it?
Thank you!

[2020-10-06 14:58] hendo10 opened #124 "Module 'ebay-node-api', not found"
I get the following error when using 'const eBay = require('ebay-node-api')'

Error message:  'Could not find a declaration file for module 'ebay-node-api'. '/..node_modules/ebay-node-api/src/index.js' implicitly has an 'any' type.'

Can somebody advise?

[2020-10-06 17:09] pajaydev commented on #124
@hendo10  Kindly delete the node modules folder and try to install it again.

[code]

[2020-10-06 20:02] hendo10 commented on #124
This work.  Thank you @pajaydev

[2020-10-06 20:02] #124 closed

[2020-10-08 01:48] zslabs opened #125 "findCompletedItems deprecation"
👋 @pajaydev

Due to the recent announcement that the `findCompletedItems` endpoint will be deprecated without the Market Insights API, I wanted to see if you had any thoughts on if adding support for `itemFilters` in `findItemsAdvanced` https://developer.ebay.com/DevZone/finding/CallRef/findItemsAdvanced.html would be possible, so we could pass through the `SellingState` https://developer.ebay.com

[2020-10-08 04:52] pajaydev commented on #125
@zslabs  Thanks for reporting this. yes, sure we can add support in itemsFilters. Free feel to do this change if you want to take this up or I will do.

[2020-10-11 16:58] zslabs commented on #125
Thanks for the quick response! I noticed that the `constructAdditionalParams` function you have should technically take care of this, but what I'm a bit confused about is how we'd have both `sellingStatus` and `sellingState` as it's a sub-property of this item filter. If you do end up having a few to look at this, I'd really appreciate it. Thanks as always!

[2020-10-11 17:26] zslabs commented on #125
Hm, even though I'm seeing `SoldItemsOnly` on https://developer.ebay.com/DevZone/finding/CallRef/types/ItemFilterType.html (as I thought `sellingState` might be available), it is marked as "future" and I'm not getting any results using that in the API playground.

If you have any thoughts, we might need to get a bit creative here unfortunately :(

Some more discussion https://forums.developer.ebay

[2020-10-12 07:44] pajaydev commented on #125
@zslabs Thanks for looking into this. Let me take a look and get back to you.

[2020-10-20 09:24] paridao opened #126 "getDeals doesn't work anymore (error 404)"
Seems Ebay removed the feed.

Steps to reproduce (the same as the relative example):

`let ebay = new Ebay({
    clientID: clientId,
    clientSecret: clientSecret,
    body: {
        grant_type: 'client_credentials',
        scope: 'https://api.ebay.com/oauth/api_scope'

    }
});

    // get top ten deals in US.
    ebay.getDeals().then((data) => {
        console.log(data);
    }).catch(err =>

[2020-10-21 22:45] zslabs commented on #125
Until eBay either adds the endpoint back (unlikely) or enables the sold filter on the advanced search, it doesn't look like there's an option here.

[2020-10-21 22:45] #125 closed

[2020-11-03 06:09] pajaydev commented on #126
@paridao  Thanks for raising this. Let me announce it as deprecated in the next version.

[2020-11-19 08:24] pajaydev commented on #126
@paridao  included temporary documentation. Will remove it completely in the major version.

[2020-11-19 08:24] #126 closed

[2020-11-19 08:24] pajaydev commented on #126
@paridao  included temporary documentation. Will remove it completely in the major version.

[2020-11-25 09:48] padaliyajay commented on #108
There is bug in code for itemFilter. in some itemFilter, prop name and value also require. for example. to filter by min and max price, you need to specify currency also

[code]

[2020-11-25 23:19] pajaydev commented on #108
@padaliyajay  Thanks for reporting, let me reopen this bug.

[2020-12-07 07:47] pajaydev commented on #108
@padaliyajay  You can use like this for other sites. Closing this bug and let me know if you face any other issues.

[code]

[2020-12-07 07:47] #108 closed

[2020-12-07 07:48] pajaydev commented on #90
Closing this as there is no plans to integrate with node red.

[2020-12-07 07:48] #90 closed

[2021-04-15 12:13] rambonette opened #139 "Can't search items by epid with Auth flow"
### Issue or Enhancement

* [ x] Issue
* [ ] Enhancement / Improvement

### Steps to reproduce

searchItems function does not accept an "epid" as parameter for the query.

### Expected Behavior

ebay.getAccessToken().then((data) => {
    ebay
      .searchItems({
        epid: <ebay_product_id>
      })
      .then(
        (data) => {
          console.log(data);
        },
        (error) => {

[2021-04-16 12:42] rambonette commented on #139
I already took the liberty to fix the 'searchItems' function by simply adding the epid field. I can push the branch if you want :)

[2021-05-06 09:05] rambonette commented on #139
It's now possible to search with ePID using the searchItems function

[2021-05-06 09:05] #139 closed

[2021-05-06 09:47] rambonette opened #141 "Auth flow equivalent to getUserDetails?"
### Issue or Enhancement

* [ ] Issue
* [x ] Enhancement / Improvement

### Steps to reproduce

### Expected Behavior

Is there a way to get shop/user details (like `getUserDetails`) using the auth flow?

### Actual Behavior

[2021-05-07 19:15] pajaydev commented on #141
@rambonette  This library is already supporting `getUserDetails`. You can check the example here
https://github.com/pajaydev/ebay-node-api/blob/642a273df4a474cc6112befa6992ee711d231139/demo/shopping.js#L19

[2021-06-08 18:11] bradical1379 commented on #51
Is there a new method for getting best offer accepted prices? It appears that eBay has closed up the holes on most of the old ways.

[2021-06-12 16:14] gnadelwartz commented on #38
in your examples it's shown how to get the token, but not to set a chached token when creating a new Ebay object, e.g. on next run.

[2021-06-14 07:53] rambonette commented on #141
Any news? Is this library using the OAuth flow?

[2021-06-15 07:27] pajaydev commented on #141
@rambonette  We don't need oauth flow to get the user details. Above method should work. To look more around oauth flow, kindly check this library [ebay-oauth-nodejs-client](https://github.com/pajaydev/ebay-oauth-nodejs-client). You can wrap this around it.

[2021-07-02 14:27] rambonette commented on #141
That's exactly what I've done! Thank you :)

[2021-07-02 14:28] #141 closed

[2021-07-12 21:41] vraj16108 opened #149 "AspectFilter"
I don't know if I am doing this write but I want to use the aspectFilter in the api call but it doesn't seem to be change the output I receive. When I do an api call through the url it does work. Does this api not support aspect filter or am I not doing this right. I looked through the code and could not find anything about aspectfilter.

Here is my code:
let Ebay = new ebayapi({
        clientID:

[2021-09-11 19:11] doverradio opened #151 "Is there a way to control DetailLevel in the getItem call?"
* [ x ] Issue
* [ ] Enhancement / Improvement

### Steps to reproduce

I need a reliable way to get the quantity sold for any valid ebay item.  I used your library and specifically the getItem call.  It worked except I noticed it was missing [Item.SellingStatus.QuantitySold](https://developer.ebay.com/devzone/xml/docs/reference/ebay/getitem.html#Response.Item.SellingStatus.QuantitySold) in the res

[2021-09-12 04:48] doverradio commented on #151
On second look, I can get the estimatedSoldQuantity, which is basically equivalent to Item.SellingStatus.QuantitySold, from the Browse API's getItem.

Still, is there a way to put the ReturnAll DetailLevel parameter?

[2021-10-26 15:35] rambonette opened #153 "plan to update npm package?"
### Issue or Enhancement

* [ ] Issue
* [ x] Enhancement / Improvement

### Steps to reproduce

Hi @pajaydev :) ! Currently is not possible to search by epid code using searchItems() with 'ebay-node-api' npm package, but code in this repo allows it. Are you planning to update the npm package?

### Expected Behavior

Normal expectation is to be able to search by epid using the npm package

### Actu

[2021-10-30 11:29] pajaydev commented on #153
Thanks for bringing this up. Published a new version `ebay-node-api@2.9.0`

[2021-11-11 22:00] rambonette commented on #153
Thank you! Have a nice one ;)

[2021-11-14 18:40] earthlingdavey opened #155 "X-EBAY-API-IAF-TOKEN requirement. Some get requests failing e.g. getShippingCosts & getSingleItem"
### Issue

* [x] Issue
* [ ] Enhancement / Improvement

### Steps to reproduce

Ebay has introduced a new requirement for the token to be set in header property `X-EBAY-API-IAF-TOKEN`.

See: https://developer.ebay.com/Devzone/shopping/docs/CallRef/GetSingleItem.html

To reproduce, run the example for getShippingCosts and the following error will be shown.

### Expected Behavior

No errors, return

[2021-11-19 08:10] earthlingdavey commented on #155
It looks like these are both endpoints of the [shopping API](https://developer.ebay.com/Devzone/shopping/docs/CallRef/index.html).

Today - Email from ebay.

Doh, it looks like a bunch of these functions will no longer work soon. @pajaydev

[2021-12-04 00:42] insanity54 commented on #70
I was looking for this also. I found that I can do the following.

[code]

ebay doc: https://developer.ebay.com/api-docs/buy/static/ref-buy-browse-filters.html#sellers

[2022-02-10 23:42] pajaydev commented on #155
@EarthlingDavey Got it. Thanks for brining it up. Free feel if you want to make the change and take this over

[2022-03-04 14:49] rambonette commented on #153
Hi @pajaydev ! Hope you're doing well :)

Seems like, although npm version has been bumped, `searchItems` function in `buy-api.js` is still the old one! As a matter of fact, I still get the old error log:

`UnhandledPromiseRejectionWarning: Error: Error --> Keyword orcategory id is required in query param`

Should be this instead (according to latest commit):

`Error --> Kindly provide the valid K

[2022-03-04 15:12] rambonette commented on #153
nm turns out i was using and old version :')

[2022-03-04 15:12] #153 closed

[2022-07-10 14:36] emporioreale commented on #38
I am getting this error on taxonomyapi:
`"Uncaught SyntaxError SyntaxError: Unexpected end of JSON input"
`This is the code:
[code]

[2022-07-10 15:35] emporioreale commented on #110
I am getting that error
`Uncaught SyntaxError SyntaxError: Unexpected end of JSON input
`

[2022-07-15 15:31] FullstackWEB-developer commented on #12
I think the Listing API is deprecated.
we can use Inventory API instead listing API.

https://developer.ebay.com/api-docs/sell/inventory/overview.html

[2022-07-24 13:34] emporioreale opened #162 "problem calling getUserTokenByRefresh method"
Calling getUserTokenByRefresh method resulting in the following error:
[code]

[2022-07-29 22:52] jphan88 opened #163 "findItemsAdvanced outputSelector options are not appearing to work"
### Issue or Enhancement

* [X] Issue
* [ ] Enhancement / Improvement

### Steps to reproduce

Hi, I am trying to use the findItemsAdvanced api specifically including outputSelector: "StoreInfo", it doesn't appear like any of the options for outputSelector works. This is my code below: thank you for all your help!
[code]
### Expected Behavior

Expected to return the storeInfo array in the response

[2022-09-06 23:12] ethanlaj commented on #45
According to ebay: This call is deprecated as of October 15, 2020, and access is restricted. Is there support for the [Marketplace Insights API](https://developer.ebay.com/api-docs/buy/marketplace-insights/overview.html)?